body {
    background-color: #24292e;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    text-align: center;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.devicon-github-original {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
}

.section {
    padding: 70px 0;
}

.container {
    background-color: #ffffff;
    width: 60%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
}

.container header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.container header h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.container header .input-search {
    width: 400px;
    font-size: 17px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 7px;
    outline-color: hotpink;
}

.container header .btn-search {
    cursor: pointer;
    width: 200px;
    font-size: 17px;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    transition: 0.3s ease-in-out;
}

.container header .btn-search:hover {
    background-color: hotpink;
    color: #ffffff;
    border-color: #ffffff;
}


.container .profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.container .profile-data .error-msg {
    color: red;
    font-size: 19px;
    font-weight: 500;
    margin: -20px 0 20px;
}

.container .profile-data .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .profile-data .info img {
    width: 50%;
    border: 10px solid hotpink;
    border-radius: 50%;
}

.container .profile-data .info .data {
    width: 50%;
    padding: 40px;
}

.container .profile-data .info .data h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.container .profile-data .info .data p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 25px;
}

.container .profile-data .info .data ul li:not(:last-child) {
    margin-bottom: 7px;
}

.container .profile-data .repositories h2, .container .profile-data .events h2 {
    text-align: center;
    margin-bottom: 30px;
}

.container .profile-data .repositories ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .profile-data .repositories ul li a {
    display: block;
    padding: 20px;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.container .profile-data .repositories ul li a:hover {
    background-color: hotpink;
    color: #ffffff;
}

.container .profile-data .events {
    padding-top: 40px;
}

.container .profile-data .events p {
    font-size: 18px;
    font-weight: 400;
}

.container .profile-data .events ul li:not(:last-child) {
    margin-bottom: 15px;
}

.container .profile-data.hide {
    display: none;
}